# Node
node_modules/

# Env
backend/.env

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
dist/
build/
__pycache__/
*.log
